NODE_ENV=development
PORT=3000

DATABASE_URL=

PGHOST=localhost
PGPORT=5432
PGDATABASE=anamnesis
PGUSER=postgres
PGPASSWORD=

# Email notification (nodemailer)
# PENDIENTE: Kevin debe confirmar su correo exacto para MAIL_TO
MAIL_USER=correo_remitente@gmail.com
MAIL_PASS=app_password_de_gmail
MAIL_TO=correo_de_kevin@gmail.com
